<ion-header>
  <ion-toolbar>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card (click)="onHatChat()">
      <ion-card-header>
        <ion-card-title>Anyone has an old Hat?</ion-card-title>
        <ion-card-subtitle>13.05.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        I'm collecting all sorts of vintage hats for a fashion collection.
      </ion-card-content>
    </ion-card>
    <ion-card (click)="onBagChat()">
      <ion-card-header>
        <ion-card-title>Found a sports bag</ion-card-title>
        <ion-card-subtitle>30.03.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        There is a pair of shoes an sports wear in it.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
