<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Found an iPhone 4!</ion-card-title>
        <ion-card-subtitle>01.06.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        It was near the bridge in Lucern.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Someone saw my Jacket?</ion-card-title>
        <ion-card-subtitle>21.05.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        It's a brown leather Jacket with some keys in the right pocket.
      </ion-card-content>
    </ion-card>
    <ion-card (click)="onHatChat()">
      <ion-card-header>
        <ion-card-title>Anyone has an old Hat?</ion-card-title>
        <ion-card-subtitle>13.05.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        I'm collecting all sorts of vintage hats for a fashion collection.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Got some Bitcoins</ion-card-title>
        <ion-card-subtitle>29.04.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        I can sell them cheaper than you would find them online. As low as 30'100 CHF per Bitcoin.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Can make music</ion-card-title>
        <ion-card-subtitle>25.04.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        If you have an idea for a beat or melody, I'm yo man.
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Someone by chance in need of weed?</ion-card-title>
        <ion-card-subtitle>14.04.2021</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        I got some good stuff, 8 CHF per gramm. And i can also offer the finest, by a florida man grown, gourmet weed for as much as 15 CHF per gramm.
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
